/**
* Stylesheet contains the css rules/markup for the single-page Bubble Sort web app
* Created by Alex on 7/13/2016.
*/


/** Style rules for general containers/tags **/
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

h1{
    margin: 0;
    padding: 0.33em 0 0.33em 0;
}

.hero{
    width: 100%;
    margin: auto;
    text-align: center;
}

.container{
    background: #EBEBE0;
}

.content{
    height: 100%;
    margin: 0 0.33em 0 0.33em;
    background: #FFFFFF;
}

.button-container{
    float: right;
    max-width: 200px;
    padding: 1em;
}

.button-container button{
    float:left;
    clear:both;
    min-width:100px;
    min-height: 20px;
    text-align:center;
    vertical-align: middle;
    padding:3px;
    margin: 3px 0 3px 0;
}

/** Stylings for the bubblesort-container and its table **/
.bubblesort-container{
    float: left;
    max-width: 400px;
    padding: 1em;
}

.bubblesort-container table{
    min-width:200px;
    margin:auto;
    border: solid #cccccc 1px;
    border-radius: 5px;
    border-collapse: collapse;
    padding: 1em;
}

.bubblesort-container thead{
    background-image: linear-gradient(to bottom, #F0F0F0, #99FF99)
}

.bubblesort-container tbody>tr .color-bar{
    background-color: yellow;
}

.bubblesort-container .highlighted-row .color-bar{
    background-color: red;
}

td, th{
    padding: 3px;
    border-bottom: solid #F0F0F0 1px;
}

/**
* Small screen support.
* Needs to be expanded to support a wider range of devices
**/
@media all and (max-width: 500px){
    .bubblesort-container{
        float: none;
        clear: both;
    }

    .button-container{
        float: left;
        clear: both;
        margin: auto;
    }

    .bubblesort-container table{
        min-width: 98%;
    }
}
